In [26]:
import pymysql
import pandas as pd
import numpy as np

In [79]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://root:adepu321@localhost/CVD_GEORGIA_RATES'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM georgia_death_rates', con=db_connection)

death_rates = df[["death_rates"]]
print(death_rates)

# df = pd.DataFrame(death_rates,columns=['death_rates'])
# print (df)

df["death_risk"] = ""

df.loc[df['death_rates'] > 500, 'death_risk'] = .01
df.loc[df['death_rates'] < 500, 'death_risk'] = .005

print (df)

     death_rates
0          619.4
1          510.7
2          657.0
3          421.3
4          590.0
..           ...
154        435.4
155        598.2
156        638.2
157        718.7
158        413.6

[159 rows x 1 columns]
    county_names  death_rates death_risk
0        Appling        619.4       0.01
1       Atkinson        510.7       0.01
2          Bacon        657.0       0.01
3          Baker        421.3      0.005
4        Baldwin        590.0       0.01
..           ...          ...        ...
154    Whitfield        435.4      0.005
155       Wilcox        598.2       0.01
156       Wilkes        638.2       0.01
157    Wilkinson        718.7       0.01
158        Worth        413.6      0.005

[159 rows x 3 columns]

In [13]:
df1 = df = pd.read_sql('SELECT * FROM social_environment', con=db_connection)

median_hi = df[["median_household_income"]]
print(median_hi)

poverty_perc = df[["poverty_percentage"]]
print(poverty_perc)

# df = pd.DataFrame(death_rates,columns=['death_rates'])
# print (df)


df["risk_value_hi"] = ""
df["risk_value_pp"] = ""

df.loc[df['median_household_income'] > 42610, 'risk_value_hi'] = .005
df.loc[df['median_household_income'] < 42610, 'risk_value_hi'] = .01

#mean median household income = 42610 for Georgia according to calculations

df.loc[df['poverty_percentage'] > 21.91, 'risk_value_pp'] = .01
df.loc[df['poverty_percentage'] < 21.91, 'risk_value_pp'] = .005

#mean poverty percentage = 21.91 for Georgia according to calculations

df

     median_household_income
0                      39600
1                      32400
2                      35400
3                      34500
4                      38000
..                       ...
154                    45900
155                    32500
156                    34000
157                    38100
158                    39600

[159 rows x 1 columns]
     poverty_percentage
0                  22.5
1                  26.9
2                  23.9
3                  28.7
4                  26.0
..                  ...
154                15.3
155                30.4
156                22.9
157                20.9
158                21.7

[159 rows x 1 columns]

,county_names,median_household_income,poverty_percentage,risk_value_hi,risk_value_pp
0,Appling,39600,22.5,0.01,0.01
1,Atkinson,32400,26.9,0.01,0.01
2,Bacon,35400,23.9,0.01,0.01
3,Baker,34500,28.7,0.01,0.01
4,Baldwin,38000,26.0,0.01,0.01
...,...,...,...,...,...
154,Whitfield,45900,15.3,0.005,0.005
155,Wilcox,32500,30.4,0.01,0.01
156,Wilkes,34000,22.9,0.01,0.01
157,Wilkinson,38100,20.9,0.01,0.005
158,Worth,39600,21.7,0.01,0.005

In [28]:
df2 = df = pd.read_sql('SELECT * FROM health_risk', con=db_connection)

physical_inactivity = df[["physical_inactivity"]]
print(physical_inactivity)

obeisity = df[["obeisity"]]
print(obeisity)

diabetes = df[["diabetes"]]
print(diabetes)


df["risk_value_pi"] = ""
df["risk_value_obs"] = ""
df["risk_value_diab"] = ""

df.loc[df['physical_inactivity'] > 26.48, 'risk_value_pi'] = .005
df.loc[df['physical_inactivity'] < 26.48, 'risk_value_pi'] = .01

# mean physical activity = 26.48
# the higher percentage of populations that is inactive, the higher the CVD mortality rate

df.loc[df['obeisity'] > 31.71, 'risk_value_obs'] = .01
df.loc[df['obeisity'] < 31.71, 'risk_value_obs'] = .005

# mean obeisity = 31.71

df.loc[df['diabetes'] > 11.51, 'risk_value_diab'] = .01
df.loc[df['diabetes'] < 11.51, 'risk_value_diab'] = .005

# mean diabetes = 11.51

print (df)

     physical_inactivity
0                   24.9
1                   26.0
2                   28.0
3                   25.7
4                   23.0
..                   ...
154                 26.9
155                 26.6
156                 28.1
157                 28.1
158                 30.2

[159 rows x 1 columns]
     obeisity
0        34.9
1        33.5
2        31.3
3        29.7
4        36.8
..        ...
154      33.5
155      31.9
156      32.0
157      32.1
158      35.5

[159 rows x 1 columns]
     diabetes
0        10.7
1        11.1
2         9.9
3        12.3
4        12.5
..        ...
154      11.9
155      10.9
156      12.2
157      12.5
158      12.5

[159 rows x 1 columns]
    county_names  physical_inactivity  obeisity  diabetes risk_value_pi  \
0        Appling                 24.9      34.9      10.7          0.01
1       Atkinson                 26.0      33.5      11.1          0.01
2          Bacon                 28.0      31.3       9.9         0.005
3          Baker                 25.7      29.7      12.3          0.01
4        Baldwin                 23.0      36.8      12.5          0.01
..           ...                  ...       ...       ...           ...
154    Whitfield                 26.9      33.5      11.9         0.005
155       Wilcox                 26.6      31.9      10.9         0.005
156       Wilkes                 28.1      32.0      12.2         0.005
157    Wilkinson                 28.1      32.1      12.5         0.005
158        Worth                 30.2      35.5      12.5         0.005

    risk_value_obs risk_value_diab
0             0.01           0.005
1             0.01           0.005
2            0.005           0.005
3            0.005            0.01
4             0.01            0.01
..             ...             ...
154           0.01            0.01
155           0.01           0.005
156           0.01            0.01
157           0.01            0.01
158           0.01            0.01

[159 rows x 7 columns]

In [72]:
df3 = df = pd.read_sql('SELECT * FROM physical_environment', con=db_connection)

air_quality = df[["air_quality"]]
print(air_quality)

park_half_mile = df[["park_in_half_mile"]]
print(park_half_mile)

df["risk_value_aq"] = ""
df["risk_value_phm"] = ""

df.loc[df['air_quality'] > 10.74, 'risk_value_aq'] = .01
df.loc[df['air_quality'] < 10.74, 'risk_value_aq'] = .005

# mean air quality (concentrations of PM2.5) = 10.74
# the higher the PM2.5 concentration for air quality, the higher the CVD mortality rate 

df.loc[df['park_in_half_mile'] > 7.59, 'risk_value_phm'] = .005
df.loc[df['park_in_half_mile'] < 7.59, 'risk_value_phm'] = .01

# mean number of parks in half mile = 7.59 --> Round down to 7 

print(df3)

     air_quality
0           10.6
1           10.4
2           10.4
3           10.8
4           11.4
..           ...
154         10.9
155         10.9
156         10.6
157         11.3
158         11.0

[159 rows x 1 columns]
     park_in_half_mile
0                    0
1                    0
2                    0
3                    0
4                   11
..                 ...
154                 13
155                  3
156                  2
157                  1
158                  7

[159 rows x 1 columns]
    county_names  air_quality  park_in_half_mile risk_value_aq risk_value_phm
0        Appling         10.6                  0         0.005           0.01
1       Atkinson         10.4                  0         0.005           0.01
2          Bacon         10.4                  0         0.005           0.01
3          Baker         10.8                  0          0.01           0.01
4        Baldwin         11.4                 11          0.01          0.005
..           ...          ...                ...           ...            ...
154    Whitfield         10.9                 13          0.01          0.005
155       Wilcox         10.9                  3          0.01           0.01
156       Wilkes         10.6                  2         0.005           0.01
157    Wilkinson         11.3                  1          0.01           0.01
158        Worth         11.0                  7          0.01           0.01

[159 rows x 5 columns]

In [80]:
# result = pd.merge(georgia_death_rates, social_environment ['median_household_income', 'poverty_percentage'],
#                  on='county_names')

# df = pd.merge('georgia_death_rates','social_environment'
#                  [['median_household_income', 'poverty_percentage']],
#                  on='county_names', how='outer', indicator=True)

res1 = pd.merge(df, df1, on="county_names")
res2 = pd.merge(df2, df3, on="county_names")
combined_table = pd.merge(res1, res2, on="county_names")

print(combined_table)

    county_names  death_rates death_risk  median_household_income  \
0        Appling        619.4       0.01                    39600
1       Atkinson        510.7       0.01                    32400
2          Bacon        657.0       0.01                    35400
3          Baker        421.3      0.005                    34500
4        Baldwin        590.0       0.01                    38000
..           ...          ...        ...                      ...
154    Whitfield        435.4      0.005                    45900
155       Wilcox        598.2       0.01                    32500
156       Wilkes        638.2       0.01                    34000
157    Wilkinson        718.7       0.01                    38100
158        Worth        413.6      0.005                    39600

     poverty_percentage risk_value_hi risk_value_pp  physical_inactivity  \
0                  22.5          0.01          0.01                 24.9
1                  26.9          0.01          0.01                 26.0
2                  23.9          0.01          0.01                 28.0
3                  28.7          0.01          0.01                 25.7
4                  26.0          0.01          0.01                 23.0
..                  ...           ...           ...                  ...
154                15.3         0.005         0.005                 26.9
155                30.4          0.01          0.01                 26.6
156                22.9          0.01          0.01                 28.1
157                20.9          0.01         0.005                 28.1
158                21.7          0.01         0.005                 30.2

     obeisity  diabetes  ... health_risk_x social_env_risk_x  \
0        34.9      10.7  ...         5e-07            0.0001
1        33.5      11.1  ...         5e-07            0.0001
2        31.3       9.9  ...      1.25e-07            0.0001
3        29.7      12.3  ...         5e-07            0.0001
4        36.8      12.5  ...         1e-06            0.0001
..        ...       ...  ...           ...               ...
154      33.5      11.9  ...         5e-07           2.5e-05
155      31.9      10.9  ...       2.5e-07            0.0001
156      32.0      12.2  ...         5e-07            0.0001
157      32.1      12.5  ...         5e-07             5e-05
158      35.5      12.5  ...         5e-07             5e-05

    physical_env_risk_x air_quality park_in_half_mile risk_value_aq  \
0                 5e-05        10.6                 0         0.005
1                 5e-05        10.4                 0         0.005
2                 5e-05        10.4                 0         0.005
3                0.0001        10.8                 0          0.01
4                0.0001        11.4                11          0.01
..                  ...         ...               ...           ...
154               5e-05        10.9                13          0.01
155              0.0001        10.9                 3          0.01
156               5e-05        10.6                 2         0.005
157               5e-05        11.3                 1          0.01
158               5e-05        11.0                 7          0.01

     risk_value_phm  physical_env_risk_y health_risk_y social_env_risk_y
0              0.01                5e-05         5e-07            0.0001
1              0.01                5e-05         5e-07            0.0001
2              0.01                5e-05      1.25e-07            0.0001
3              0.01               0.0001         5e-07            0.0001
4             0.005                5e-05         1e-06            0.0001
..              ...                  ...           ...               ...
154           0.005                5e-05         5e-07           2.5e-05
155            0.01               0.0001       2.5e-07            0.0001
156            0.01                5e-05         5e-07            0.0001
157            0.01               0.0001         5e-07             5e-05
158            0.01               0.0001         5e-07             5e-05

[159 rows x 23 columns]

In [82]:
df["health_risk"] = df2["risk_value_pi"] * df2["risk_value_obs"] * df2["risk_value_diab"]

df["social_env_risk"] = df1["risk_value_hi"] * df1["risk_value_pp"]

df["physical_env_risk"] = df3["risk_value_aq"] * df3["risk_value_phm"]

df["total_risk"] = df["death_risk"] * df["health_risk"] * df["social_env_risk"] * df["physical_env_risk"]

# print(df["health_risk"])
# print(df["social_env_risk"])
# print(df["physical_env_risk"])

df

,county_names,death_rates,death_risk,health_risk,social_env_risk,physical_env_risk,total_risk
0,Appling,619.4,0.01,5e-07,0.0001,5e-05,2.5e-17
1,Atkinson,510.7,0.01,5e-07,0.0001,5e-05,2.5e-17
2,Bacon,657.0,0.01,1.25e-07,0.0001,5e-05,6.25e-18
3,Baker,421.3,0.005,5e-07,0.0001,0.0001,2.5e-17
4,Baldwin,590.0,0.01,1e-06,0.0001,5e-05,5e-17
...,...,...,...,...,...,...,...
154,Whitfield,435.4,0.005,5e-07,2.5e-05,5e-05,3.125e-18
155,Wilcox,598.2,0.01,2.5e-07,0.0001,0.0001,2.5e-17
156,Wilkes,638.2,0.01,5e-07,0.0001,5e-05,2.5e-17
157,Wilkinson,718.7,0.01,5e-07,5e-05,0.0001,2.5e-17
158,Worth,413.6,0.005,5e-07,5e-05,0.0001,1.25e-17